﻿/*fondos oscuros*/
/*bordes oscuros*/
/*fondos claros*/
/*letras para fondos oscuros*/
/*letras para fondos claros*/
/*sidebar*/
/*tabla*/
/*dialog*/
/**********************************************************************************************************************************
** Procesing
***********************************************************************************************************************************/
div#id-layout-processing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: none;
}
div#id-layout-processing img {
  position: absolute;
  left: 50%;
  top: 50%;
}
/**********************************************************************************************************************************
** Tablas
***********************************************************************************************************************************/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 1px !important;
}
.table tr.row-filter {
  padding: 1px !important;
  background-color: white;
  color: white;
}
.table tr.row-filter th {
  padding: 1px !important;
}
.table tr.row-filter th input {
  padding: 0 0 0 1px !important;
  height: 25px !important;
  font-stretch: normal !important;
  font-weight: 400 !important;
}
.table tr.row-filter th select {
  padding: 0 !important;
  height: 25px !important;
  font-stretch: normal !important;
  font-weight: 400 !important;
}
.table tr.row-filter th select.seleted-operador {
  width: 40px !important;
}
.table tr.row-filter th div.dateFilter input {
  min-width: 50px !important;
  margin-bottom: 0 !important;
}
.table tr.row-head {
  background-color: #7c7c7c;
  color: white;
}
.table tr.row-head th {
  padding: 6px 4px!important;
  text-align: center;
  vertical-align: middle;
}
.table tr.rowspan-head {
  background-color: #7c7c7c;
  color: white;
}
.table tr.rowspan-head th {
  padding: 1px 4px!important;
  text-align: center;
  vertical-align: middle;
}
.table tbody tr:selected {
  background-color: #8aa4af;
}
.table tbody tr:hover {
  background-color: #b8c7ce;
}
.table tbody tr td {
  padding: 3px 3px !important;
  border-bottom: 1px solid #7c7c7c;
  border-right: 1px dotted #c4c4c4;
}
.table tbody tr td table td {
  border-style: none;
}
.table tbody tr td table .cell-label {
  font-weight: bold;
  color: black;
  padding-right: 6px !important;
  text-align: right;
  vertical-align: top;
}
.table tbody tr td.colfinal {
  border-left-width: 0 !important;
}
.tabla-container,
.tabla-container-fluid {
  background-color: white;
  border: 2px solid #606060;
  border-radius: 0 0 5px 5px;
  bottom: 70px;
  left: 5px;
  overflow: auto;
  padding: 1px;
  font-size: 12px;
}
.tabla-popup {
  font-size: 12px;
  background-color: white;
  border: 2px solid #606060;
  border-radius: 5px;
  overflow: auto;
  margin: 5px;
  padding: 1px;
}
.tabla-detalle tr.odd td {
  cursor: pointer;
}
.tabla-detalle td.arrow a {
  background: transparent url(/Images/arrows.png) no-repeat scroll 0 -16px;
  width: 16px;
  height: 16px;
  display: block;
}
.tabla-detalle td.arrow a.up {
  background-position: 0 0;
}
.tabla-detalle .detail td {
  min-width: 100px;
}
.tabla-detalle th.arrow {
  width: 40px !important;
  vertical-align: central;
  text-align: center;
}
.table-toolbar h5 {
  font-weight: bold;
}
.table-toolbar a {
  margin-right: 10px;
}
.tabla-container-fluid tbody tr.fila-mouseover {
  background-color: yellow;
}
.tabla-container-fluid tbody tr.fila-mouseout {
  background-color: fuchsia;
}
/**********************************************************************************************************************************
** Tablas - Columnas
***********************************************************************************************************************************/
.text-green {
  color: green !important;
}
.text-gris {
  color: dimgray !important;
}
.text-darkorange {
  color: darkorange !important;
}
.column-center {
  text-align: center;
}
.column-right {
  text-align: right;
}
.column-fecha {
  text-align: center;
  width: 85px !important;
}
.column-link {
  padding-top: 5px;
  text-align: center;
  vertical-align: central;
}
.column-link a {
  display: inline-block;
  height: 16px;
  outline: medium none;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.column-clean {
  padding-top: 5px;
  text-align: center;
  vertical-align: central;
}
.column-clean a {
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  outline: medium none;
  text-decoration: none !important;
  text-indent: -9999px !important;
  cursor: pointer;
  background-image: url("../images/clean24x24.png");
  width: 24px !important;
  height: 24px !important;
}
.column-action,
.column-del,
.column-log,
.column-add,
.column-activar,
.last-column {
  padding-top: 5px;
  text-align: center;
  width: 35px;
  vertical-align: central;
}
.column-action a,
.column-del a,
.column-log a,
.column-add a,
.column-activar a,
.last-column a {
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  outline: medium none;
  text-decoration: none !important;
  text-indent: -9999px !important;
  width: 16px;
  cursor: pointer;
}
.column-clean a {
  background-image: url("../images/clean24x24.png");
  width: 24px !important;
  height: 24px !important;
}
.column-add a {
  background-image: url("../images/add16x16.png");
}
.column-set a {
  background-image: url("../images/edit16x16.png");
}
.column-del a {
  background-image: url("../images/del16x16.png");
}
.column-activar a {
  background-image: url("../images/active16x16.png");
}
.column-log a {
  background-image: url("../images/log16x16.png");
}
.column-bloquear a {
  background-image: url("../images/lock16x16.png");
}
.column-link a {
  color: blue;
  text-decoration: underline;
}
.last-column {
  border-right-style: none !important;
}
.btn-add {
  background-image: url("../Images/add32x32.png");
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  outline: medium none;
  text-decoration: none !important;
  text-indent: -9999px !important;
  width: 32px;
}
.btn-find {
  background-image: url("../Images/search32x32.png");
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  outline: medium none;
  text-decoration: none !important;
  text-indent: -9999px !important;
  width: 32px;
}
/***************************************************************************
DIALOGOS
***************************************************************************/
.bootstrap-dialog .bootstrap-dialog-message {
  font-size: 12px !important;
}
.form-control {
  font-size: 12px !important;
  height: 30px !important;
}
.input-group-btn button {
  height: 30px !important;
  padding: 0 12px !important;
}
.modal-header {
  padding: 9px !important;
}
.form-group {
  margin-bottom: 5px !important;
}
.input-group[class*="col-"] {
  padding-left: -15px !important;
  padding-right: -15px !important;
}
.input-group-custom {
  padding-left: -15px !important;
  padding-right: -15px !important;
}
.bootstrap-dialog-message fieldset {
  padding: 0 !important;
}
.bootstrap-dialog-message .box-body {
  padding: 0 10px !important;
}
form h6 {
  font-weight: bold;
  color: #963434;
  background-color: #ddd;
  padding: 5px !important;
}
.bootstrap-dialog.type-primary .modal-header {
  background-color: #3c8dbc !important;
}
.bootstrap-dialog .bootstrap-dialog-title {
  color: #fff !important;
  display: inline-block;
  font-size: 14px !important;
}
.btn {
  font-size: 12px;
  font-weight: 400;
}
.selectContainer .form-control-feedback {
  right: 25px !important;
}
.dateContainer .form-control-feedback {
  right: 48px !important;
}
.tipoContainer .form-control-feedback {
  right: 62px !important;
}
.form-control-feedback {
  height: 30px !important;
  width: 30px !important;
  line-height: 30px !important;
}
.has-feedback .form-control {
  padding-right: 25px !important;
  padding-left: 5px !important;
}
.modal-footer {
  background-color: #fafafa;
}
/***************************************************************************
GENERALES
***************************************************************************/
label {
  padding-right: 0 !important;
}
textarea.form-control {
  height: auto !important;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 5px !important;
}
input,
textarea,
select {
  text-transform: uppercase;
}
.centro {
  text-align: center;
}
.ui-front {
  z-index: 10000 !important;
  font-size: 12px !important;
  color: #555;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
textarea {
  resize: none;
}
.text-logo {
    color: #fff;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}