﻿@model SGC.Models.Almacen.AlmacenEditorViewModel

<form id="almacenEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Almacen.siCodAlm)

    <div class="form-group">
        <label class="col-sm-3 control-label">Descripción :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Almacen.vDescripcion, new { @class = "form-control form-control-line", @placeholder = "Descripción de almacén", @required = "required", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Abreviatura :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Almacen.vAbreviatura, new { @class = "form-control form-control-line minu", @placeholder = "Abreviatura de almacén", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Dirección :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Almacen.vDireccion, new { @class = "form-control form-control-line", @placeholder = "Dirección de almacén", @required = "required", @maxlength = "50" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        almacen.editor.load();
    });
</script>