﻿@using SGC.Helper
@model SGC.Models.Almacen.UbicacionAlmacenEditorViewModel

<form id="ubicacionAlmacenEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Ubicacion.siCodAlm)
    @Html.HiddenFor(model => model.Ubicacion.iCodUbi)

    <div class="form-group">
        <label class="col-sm-3 control-label">Piso :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Ubicacion.tiPiso, new { @class = "form-control form-control-line", @placeholder = "Piso de la ubicación", @required = "required", @type = "number", @maxlength = "10" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Rack :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Ubicacion.vRack, new { @class = "form-control form-control-line minu", @placeholder = "Rack / Estante", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Fila :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Ubicacion.vFila, new { @class = "form-control form-control-line", @placeholder = "Fila de ubicación", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Columna :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Ubicacion.vColumna, new { @class = "form-control form-control-line", @placeholder = "Columna de ubicación", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Volumen :</label>
        <div class="col-sm-9">
            <input style="text-align: right;" name="Ubicacion.dVolumen" id="Ubicacion_dVolumen" value="@HelperFormat.Numero(Model.Ubicacion.dVolumen)" class="form-control-line input-align-right" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">U. Medida :</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.Ubicacion.siCodUMed, Model.LstUnidadesMedida, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        ubicacionalmacen.editor.load();
    });
</script>