﻿@using SGC.Helper
@model SGC.Models.Almacen.AlmacenGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_ALMACEN).ToString();
}

<div class="panel-wrapper collapse in" id="almacen-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="20%">DESCRIPCIÓN</th>
                    <th width="40%">DIRECCIÓN</th>
                    <th width="15%">USUARIO REGISTRO</th>
                    <th width="25%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaAlmacenes)
                {
                    <tr role="row">
                        <td>
                            <a href="#" onclick="almacen.editor.init(@item.Codigo, '@per')">@item.Descripcion</a>
                        </td>
                        <td>@item.Direccion</td>
                        <td>@item.UsuarioCrea</td>
                        <td class="text-nowrap" align="center">
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_ALMACEN, "almacen.grid.ubicaciones", item.Codigo.ToString(), "Ver Ubicaciones", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "fa fa-tasks")
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_ALMACEN, "almacen.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        almacen.grid.paginarParcial();
    });
</script>
