﻿@using SGC.Helper
@model SGC.Models.Almacen.UbicacionAlmacenGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_ALMACEN).ToString();
}

<div class="panel-wrapper collapse in" id="ubicacionAlmacen-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="10%">PISO</th>
                    <th width="10%">RACK</th>
                    <th width="20%">FILA</th>
                    <th width="20%">COLUMNA</th>
                    <th width="20%">VOLUMEN</th>
                    <th width="25%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaUbicaciones)
                {
                    <tr role="row">
                        <td>
                            <a href="#" onclick="ubicacionalmacen.editor.init(@item.Codigo, '@per')">@item.Piso</a>
                        </td>
                        <td>@item.Rack</td>
                        <td>@item.Fila</td>
                        <td>@item.Columna</td>
                        <td>@item.Volumen</td>
                        <td class="text-nowrap" align="center">
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_ALMACEN, "ubicacionalmacen.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        ubicacionalmacen.grid.paginarParcial();
    });
</script>
