﻿@using SGC.Helper
@model SGC.Models.Almacen.UbicacionAlmacenGridViewModel

<div class="panel-heading">
    <div class="row">
        @if (HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_ALMACEN))
        {
            <div class="col-lg-2 col-sm-4 col-xs-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nuevo</span>
                    <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        }
        <div class="col-lg-2 col-sm-4 col-xs-2">
            <button type="button" class="btn btn-block btn-outline btn-default btn-exportar waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i>Exportar</span>
                <span class="visible-xs visible-sm"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i></span>
            </button>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-2">
            <a href="@Url.Action("Index","Almacen")" class="btn btn-block btn-outline btn-default btn-volver  waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Volver</span>
                <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
            </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-2 pull-right">
            <div class="panel-action">
                <a href="#" data-perform="panel-collapse">
                    <i class="ti-plus"></i>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="panel-wrapper collapse" aria-expanded="false">
    <div class="panel-body">
        @Html.Hidden("hdnURLExportar", Url.Action("ExportarUbicacion", "Almacen", null))
        @Html.HiddenFor(model => model.Filtro.CodigoAlmacen)

        <div class="form-group">

            <div class="col-md-3">
                <label class="col-md-12">Piso</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Piso, new { @class = "form-control form-control-line", @maxlength = "10", @type = "number" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="col-md-12">Rack</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Rack, new { @class = "form-control form-control-line", @maxlength = "20" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="col-md-12">Fila</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Fila, new { @class = "form-control form-control-line", @maxlength = "20" })
                </div>
            </div>

            <div class="col-md-3">
                <label class="col-md-12">Columna</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Columna, new { @class = "form-control form-control-line", @maxlength = "20" })
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-search  waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="fa fa-search m-r-5 fa-1.5x"></i>Buscar</span>
                    <span class="visible-xs visible-sm"><i class="fa fa-search m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>