﻿@model SGC.Models.Almacen.UbicacionAlmacenGridViewModel

<div class="col-sm-12">
    <form id="ubicacionAlmacenGridForm" action="/" class="form-horizontal" autocomplete="off">
        <div class="panel panel-default">
            @{ Html.RenderPartial("_Ubicaciones.Head", Model); }
        </div>
    </form>
</div>

<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Lista de Ubicaciones
        </div>
        @{ Html.RenderPartial("_Ubicaciones.Grid", Model); }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ubicacionalmacen.grid.load();
    });
</script>