﻿@model SGC.Models.Almacen.UbicacionAlmacenGridViewModel
@{
    ViewBag.Title = "Ubicaciones en Almacén";
}

<div class="row bg-title">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="page-title">Ubicaciones de Almacén: @Model.AlmacenDto.Descripcion </h4>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li><a href="@Url.Action("Index","Almacen")">Almacenes</a></li>
            <li class="active">Ubicaciones</li>
        </ol>
    </div>
</div>

<div class="row">
    @{ Html.RenderPartial("_Ubicaciones", Model); }
</div>