﻿@model SGC.Models.Perfil.PerfilOpcionesViewModel

<form id="perfilOpcionesEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.IdPerfil)

    <div class="ebbtree">
        <div class="treeviewJBLV">
            @{
                var modelo = Model.ListaOpciones;
                if (modelo != null && modelo.Count() > 0)
                {
                    <ul>
                        @TreeView.GetTreeView(modelo, 1, modelo, "")
                    </ul>
                }
            }
        </div>
    </div>

</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        perfil.editorOpciones.load();
    });
</script>