﻿@model SGC.Models.Perfil.PerfilEditorViewModel

<form id="perfilEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Perfil.siCodPer)

    <div class="form-group">
        <label class="col-sm-3 control-label">Nombre :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Perfil.vNombre, new { @class = "form-control form-control-line", @placeholder = "Nombre de perfil", @required = "required", @maxlength = "50" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        perfil.editor.load();
    });
</script>