﻿@using SGC.Helper
@model SGC.Models.Perfil.PerfilGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_PERFIL).ToString();
}

<div class="panel-wrapper collapse in" id="perfil-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="75%">NOMBRE</th>
                    <th width="25%">ACCIONES</th>
                </tr>
            </thead>
            <tbody id="tbodylst">
                @foreach (var item in Model.ListaPerfiles)
                {
                    <tr role="row">
                        <td>
                            <a href="#" onclick="perfil.editor.init(@item.Codigo, '@per')">@item.Nombre</a>
                        </td>
                        <td class="text-nowrap" align="center">
                            <a href="javascript:void(0)" title="Opciones" class="btn btn-info btn-outline btn-circle btn-sm m-r-5" onclick="perfil.editorOpciones.init(@item.Codigo, '@per')"> <i class="ti-list"></i> </a>
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_PERFIL, "perfil.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        perfil.grid.paginarParcial();
    });
</script>
