﻿@model SGC.Models.Inventario.InventarioEditorViewModel

<form id="inventarioEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Inventario.iCodInv)

    <div class="form-group">
        <label class="col-sm-3 control-label">Descripción :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Inventario.vDescripcion, new { @class = "form-control form-control-line", @placeholder = "Descripción del inventario", @required = "required", @maxlength = "100" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Almacén :</label>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Almacen, Model.LstAlmacenes, "--Seleccione--", new { @class = "form-control form-control-line" })
            @Html.HiddenFor(model => model.Almacen)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Partner :</label>
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Inventario.iCodPartner, Model.LstEmpresasPartner, "--Seleccione--", new { @class = "form-control form-control-line" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Orden Inventario :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Inventario.vAlertaId, new { @class = "form-control form-control-line", @placeholder = "N. Orden", @required = "required", @maxlength = "50" })
        </div>
    </div>


    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        inventario.editor.load();
    });
</script>