﻿@using SGC.Helper
@model SGC.Models.Inventario.InventarioGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_INVENTARIO).ToString();
}

<div class="panel-wrapper collapse in" id="inventario-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="35%">DESCRIPCIÓN</th>
                    <th width="35%">PARTNER</th>
                    <th width="10%">ALERTA</th>
                    <th width="10%">ESTADO</th>
                    <th width="10%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaInventarios)
                {
                <tr role="row">
                    <td>
                        @if (@item.Estado.Equals("ACTIVO"))
                        {
                            <a href="#" onclick="inventario.editor.init(@item.Id, '@per')">@item.Descripcion</a>
                        }
                        else
                        {
                            @item.Descripcion

                        }
                    </td>
                    <td align="center">@item.Persona</td>
                    <td class="text-nowrap" align="center">@item.Alerta</td>
                    <td>@item.Estado</td>

                    <td class="text-nowrap" align="center">
                        @if (@item.Estado.Equals("ACTIVO"))
                        {
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_INVENTARIO, "inventario.grid.eliminar", item.Id.ToString(), "Eliminar", "btn btn-danger btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        }
                        else
                        {
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_INVENTARIO, "inventario.grid.activar", item.Id.ToString(), "Activar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-back-right")
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        inventario.grid.paginarParcial();
    });
</script>

