﻿@using SGC.Helper
@model SGC.Models.Inventario.InventarioGridViewModel

<div class="panel-heading">
    <div class="row">
        @if (HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_INVENTARIO))
        {
            <div class="col-lg-2 col-sm-4 col-xs-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nuevo</span>
                    <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        }
 

        <div class="col-lg-2 col-sm-4 col-xs-2 pull-right">
            <div class="panel-action">
                <a href="#" data-perform="panel-collapse">
                    <i class="ti-plus"></i>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="panel-wrapper collapse" aria-expanded="false">
    <div class="panel-body">
        
        <div class="form-group">

            <div class="col-md-6">
                <label class="col-md-12">Descripción</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Descripcion, new { @class = "form-control form-control-line", @maxlength = "100", @placeholder = "Buscar por nombre del inventario..." })
                </div>
            </div>

            <div class="col-md-3">
                <label class="col-md-12">Almacen</label>
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.Filtro.CodigoAlmacen, Model.LstAlmacenes, "--Seleccione--", new { @class = "form-control form-control-line" })

                </div>
            </div>

            <div class="col-md-3">
                <label class="col-md-12">Estado</label>
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.Filtro.Estado, Model.LstEstados, "--Seleccione--", new { @class = "form-control form-control-line" })

                </div>
            </div>


        </div>



        <div class="form-group">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-search  waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="fa fa-search m-r-5 fa-1.5x"></i>Buscar</span>
                    <span class="visible-xs visible-sm"><i class="fa fa-search m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>