﻿@model SGC.Models.Usuario.UsuarioCambiarClaveViewModel

<form id="cambiarClaveEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">

    <div class="form-group">
        <label class="col-sm-3 control-label">Clave anterior :</label>
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.ClaveAnterior, new { @class = "form-control form-control-line", @placeholder = "Clave anterior", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Nueva clave :</label>
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.ClaveNueva, new { @class = "form-control form-control-line", @placeholder = "Nueva clave", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group" id="divClave">
        <label class="col-sm-3 control-label">Confirmar clave :</label>
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.ClaveConfirma, new { @class = "form-control form-control-line", @placeholder = "Repetir nueva clave", @maxlength = "20" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        usuario.editorClave.load();
    });
</script>