﻿@model SGC.Models.Usuario.UsuarioEditorViewModel

<form id="usuarioEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Usuario.siCodUsu)

    @Html.Hidden("hdnRuta", Url.Action("ObtenerImagen", "Usuario", new { siCodUsu = Model.CodigoUsuario }))
    @Html.HiddenFor(model => model.ExisteImagen)

    <div class="form-group">
        <label class="col-sm-3 control-label">Nombre :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Usuario.vNombre, new { @class = "form-control form-control-line minu", @placeholder = "Nombre de usuario", @required = "required", @autocomplete = "off", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Usuario :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Usuario.vUsuario, new { @class = "form-control form-control-line", @placeholder = "Usuario de Acceso", @required = "required", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group" id="divClave">
        <label class="col-sm-3 control-label">Clave :</label>
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.Usuario.vClave, new { @class = "form-control form-control-line", @placeholder = "Clave de acceso", @readonly = "readonly", @autocomplete = "off", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Perfil :</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.Usuario.siCodPer, Model.LstPerfiles, "--Seleccione--", new { @class = "form-control form-control-line" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Correo :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Usuario.vCorreo, new { @class = "form-control form-control-line minu", @placeholder = "Correo de usuario", @maxlength = "60" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Foto :</label>
        <div class="col-sm-9">
            <input type="file" id="Archivo" name="Archivo" class="dropify" data-height="500" data-default-file="~/wwwroot/plugins/images/admin-text-dark.png" />
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        usuario.editor.load();
    });
</script>