﻿@using SGC.Helper
@model SGC.Models.Usuario.UsuarioGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_USUARIO).ToString();
}

<div class="panel-wrapper collapse in" id="usuario-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="30%">NOMBRE</th>
                    <th width="20%">USUARIO</th>
                    <th width="25%">PERFIL</th>
                    <th width="25%">ACCIONES</th>
                </tr>
            </thead>
            <tbody id="tbodylst">
                @foreach (var item in Model.ListaUsuarios)
                {
                    <tr role="row">
                        <td>
                            <a href="#" onclick="usuario.editor.init(@item.Codigo, '@per')">@item.Nombre</a>
                        </td>
                        <td>@item.Usuario</td>
                        <td>@item.Perfil</td>
                        <td class="text-nowrap" align="center">
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_USUARIO, "usuario.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        usuario.grid.paginarParcial();
    });
</script>
