﻿@model SGC.Models.UnidadMedida.UnidadMedidaEditorViewModel

<form id="unidadMedidaEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.UnidadMedida.siCodUMed)

    <div class="form-group">
        <label class="col-sm-3 control-label">Descripción :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.UnidadMedida.vDescripcion, new { @class = "form-control form-control-line", @placeholder = "Descripción de unidad de medida", @required = "required", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Abreviatura :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.UnidadMedida.vAbreviatura, new { @class = "form-control form-control-line minu", @placeholder = "Abreviatura de unidad de medida", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        unidadmedida.editor.load();
    });
</script>