﻿@model SGC.Models.Marca.MarcaEditorViewModel

<form id="marcaEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Marca.iCodMarca)

    <div class="form-group">
        <label class="col-sm-3 control-label">Descripción :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Marca.vDescripcion, new { @class = "form-control form-control-line", @placeholder = "Descripción de marca", @required = "required", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Abreviatura :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Marca.vAbreviatura, new { @class = "form-control form-control-line minu", @placeholder = "Abreviatura de marca", @required = "required", @maxlength = "20" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        marca.editor.load();
    });
</script>