﻿@using SGC.Helper
@model SGC.Models.Archivo.ArchivosGridViewModel

<form id="archivosForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Codigo)

    <div class="form-group">
        <label class="col-sm-3 control-label">Descripción :</label>
        <div class="col-sm-9">
            <input type="text" value="" id="Descripcion" name="Descripcion" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Archivo :</label>
        <div class="col-sm-9">
            <input type="file" id="Archivo" name="Archivo" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Agregar</span>
                <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
            </button>
        </div>
    </div>

</form>


<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-wrapper collapse in" id="archivos-wrapper">
            @{ Html.RenderPartial("_Archivos.Grid", Model); }
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        movimiento.archivos.load();
    });
</script>