﻿@using SGC.Helper
@model SGC.Models.Archivo.ArchivosGridViewModel


<div class="panel-body table-responsive">
    <table class="table color-table inverse-table table-striped" id="tblLista">
        <thead>
            <tr class="row-head">
                <th width="50%">DESCRIPCIÓN</th>
                <th width="50%">ACCIONES</th>
            </tr>
        </thead>

        <tbody id="tbodylst">
            @foreach (var item in Model.ListaArchivos)
            {
                <tr role="row">
                    <td>@item.Descripcion</td>
                    <td class="text-nowrap" align="center">

                        <a href="@Url.Action("Descargar","Archivos", new { id = item.Id })" title="Descargar" class="btn btn-info btn-outline btn-circle btn-sm m-r-5"> <i class="ti-list"></i> </a>
                        @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO, "movimiento.archivosDet.eliminarArchivo", item.Id.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

