﻿@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoLiquidacionViewModel

<form id="movimientoEditorDetalleLiquidacionForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Liquidacion.iCodCabMov)
    @Html.HiddenFor(model => model.Liquidacion.iCodLiquidacion)

    <div class="form-group">
        <label class="col-sm-3 control-label">Gasto :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Liquidacion.vDescripcion, new { @class = "form-control form-control-line", @placeholder = "Descripción del gasto", @required = "required", @maxlength = "100" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Costo :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Liquidacion.dCosto, new { @class = "form-control form-control-line", @required = "required", @maxlength = "18" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        movimiento.editorDetalleIngLiquidacion.load();
    });
</script>