﻿@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoDetalleViewModel

<form id="movimientoEditorDetalleForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Movimiento.iCodCabMov)
    @Html.HiddenFor(model => model.MovimientoDetalle.iCodDetMov)

    <div class="form-group">
        <label class="col-sm-3 control-label">Producto :</label>
        <div class="col-sm-7">
            @Html.TextBoxFor(model => model.MovimientoDetalleDto.Articulo, new { @class = "form-control form-control-line", @placeholder = "Buscar producto", @required = "required", @maxlength = "100" })
            @Html.HiddenFor(model => model.MovimientoDetalle.iCodArt)
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info btn-circle btn-lg" onclick="movimiento.articulo.init()" type="button"><i class="mdi mdi-library-plus"></i></button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Nombre Declarado :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalle.vNombreProducto, new { @class = "form-control form-control-line", @placeholder = "Nombre declarado", @required = "required", @maxlength = "150" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Serie :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalle.vSerie, new { @class = "form-control form-control-line", @placeholder = "Serie del artículo", @required = "required", @maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Almacén :</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.Stock.siCodAlm, Model.LstAlmacenes, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Pisos :</label>
        <div class="col-md-9" id="div-pisos">
            @{ Html.RenderPartial("_Editor.DetalleIng.ComboPisos", Model); }
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Racks :</label>
        <div class="col-md-9" id="div-racks">
            @{ Html.RenderPartial("_Editor.DetalleIng.ComboRacks", Model); }
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Ubicación :</label>
        <div class="col-md-9" id="div-ubic">
            @{ Html.RenderPartial("_Editor.DetalleIng.ComboUbicacion", Model); }
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Estado :</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.DetalleStock.iCodEstArt, Model.LstEstadosArticulos, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Costo :</label>
        <div class="col-sm-9">
            <input style="text-align: right;" name="MovimientoDetalle.dCosto" id="DetalleStock_dCostoIngreso" value="@HelperFormat.Numero(Model.DetalleStock.dCostoIngreso)" class="form-control-line input-align-right" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Peso Kg :</label>
        <div class="col-sm-9">
            <input style="text-align: right;" name="MovimientoDetalle.dPeso" id="DetalleStock_dPesoKg" value="@HelperFormat.Numero(Model.DetalleStock.dPesoKg)" class="form-control-line input-align-right" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">FLNP :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalle.vLFPN, new { @class = "form-control form-control-line", @placeholder = "FLNP", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">ALERTA ID :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalle.vAlertaId, new { @class = "form-control form-control-line", @placeholder = "Alerta Id", @maxlength = "20" })
        </div>
    </div>


    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        movimiento.editorDetalleIng.load();
    });
</script>