﻿@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoEditorViewModel


<div class="panel-wrapper collapse in" id="liquidacion-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblListaLiquidacion">
            <thead>
                <tr class="row-head">
                    <th width="70%">GASTO</th>
                    <th width="20%">COSTO</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @if (Model.ListaLiquidacion.Any())
                {
                    var cont = 0;
                    foreach (var item in Model.ListaLiquidacion)
                    {
                        <tr role="row">
                            <td width="70%">
                                <input type="hidden" name="ListaLiquidacion[@cont].vDescripcion" id="ListaLiquidacion[@cont]_vDescripcion" value="@item.vDescripcion" />
                                <input type="hidden" name="ListaLiquidacion[@cont].iCodCabMov" id="ListaLiquidacion[@cont]_iCodCabMov" value="@item.iCodCabMov" />
                                <input type="hidden" name="ListaLiquidacion[@cont].iCodLiquidacion" id="ListaLiquidacion[@cont]_iCodLiquidacion" value="@item.iCodLiquidacion" />
                                @item.vDescripcion
                            </td>
                            <td width="20%">
                                <input style="text-align: right;" 
                                       type="text"
                                       value="@HelperFormat.Numero(@item.dCosto)" 
                                       name="ListaLiquidacion[@cont].dCosto" id="ListaLiquidacion[@cont]_dCosto"
                                       class="form-control-line input-align-right" />
                            </td>
                        </tr>
                        cont++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        //movimiento.editor.paginarLiquidacion();
    });
</script>
