﻿@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoEditorViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO).ToString();
}

<div class="panel-wrapper collapse in" id="movimientoDetalle-wrapper">
    <div class="panel-heading">
        <div class="row">
            @if (!Model.Movimiento.bCerrado && HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO))
            {
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <button type="button" class="btn btn-block btn-outline btn-default btn-editor waves-effect waves-light">
                        <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Agregar producto</span>
                        <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblListaDetalle">
            <thead>
                <tr class="row-head">
                    <th width="30%">PRODUCTO</th>
                    <th width="10%">PART#</th>
                    <th width="10%"># KIT</th>
                    <th width="5%">U.M.</th>
                    <th width="20%">FABRICANTE</th>
                    <th width="15%">SERIE</th>
                    <th width="10%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaMovimientoDetalle)
                {
                    <tr role="row">
                        <td>
                            <a href="#" onclick="movimiento.editorDetalle.init(@item.Codigo, '@per')">@item.Articulo</a>
                        </td>
                        <td>@item.CodigoOriginal</td>
                        <td>@item.CodigoAlterno</td>
                        <td>@item.UnidadMedida</td>
                        <td>@item.Marca</td>
                        <td>@item.Serie</td>
                        <td class="text-nowrap" align="center">
                            <a href="javascript:void(0)" title="Archivos Adjuntos" onclick="movimiento.archivosDet.init(@item.Codigo)" class="btn btn-info btn-outline btn-circle btn-sm m-r-5"> <i class="ti-list"></i> </a>
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_MOVIMIENTO, "movimiento.editor.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        movimiento.editor.paginarParcial();
    });
</script>
