﻿@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoDetalleViewModel

<form id="movimientoEditorDetalleForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Movimiento.iCodCabMov)
    @Html.HiddenFor(model => model.MovimientoDetalle.iCodDetMov)

    <div class="form-group">
        <label class="col-sm-3 control-label">Producto :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalleDto.Articulo, new { @class = "form-control form-control-line", @placeholder = "Buscar producto", @required = "required", @maxlength = "100" })
            @Html.HiddenFor(model => model.MovimientoDetalle.iCodDetMovIng)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Nombre Declarado :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalle.vNombreProducto, new { @class = "form-control form-control-line", @placeholder = "Nombre declarado", @required = "required", @maxlength = "150" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Serie :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalle.vSerie, new { @class = "form-control form-control-line", @placeholder = "Serie del producto", @readonly = "readonly", @maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Almacén :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalleDto.Almacen, new { @class = "form-control form-control-line", @placeholder = "Serie del producto", @readonly = "readonly", @maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Ubicación :</label>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.MovimientoDetalleDto.Ubicacion, new { @class = "form-control form-control-line", @placeholder = "Ubicación del producto", @readonly = "readonly", @maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Estado :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.MovimientoDetalleDto.EstadoArticulo, new { @class = "form-control form-control-line", @placeholder = "Estado del producto", @readonly = "readonly", @maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Precio :</label>
        <div class="col-sm-9">
            <input style="text-align: right;" name="MovimientoDetalle.dCosto" id="MovimientoDetalle_dCosto" value="@HelperFormat.Numero(Model.MovimientoDetalle.dCosto)" class="form-control-line input-align-right" />
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        movimiento.editorDetalleSal.load();
    });
</script>