﻿@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO).ToString();
}

<div class="panel-wrapper collapse in" id="movimiento-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="15%">CORRELATIVO</th>
                    <th width="15%">N° DOCUMENTO</th>
                    <th width="15%">F/H RECEPCION</th>
                    <th width="30%">EMPRESA</th>
                    <th width="10%">ESTADO</th>
                    <th width="20%">USUARIO CREA</th>
                    <th width="10%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaMovimientos)
                {
                <tr role="row">
                    <td>
                        <a href="#" onclick="movimiento.editor.init(@item.Codigo, 0)">@item.TipoMov - @item.Correlativo</a>
                    </td>
                    <td>@item.TipoDoc - @item.NumeroDoc</td>
                    <td>@item.FechaHoraRecep</td>
                    <td>@item.Persona</td>
                    <td>@item.Estado</td>
                    <td>@item.UsuarioCrea</td>
                    <td class="text-nowrap" align="center">
                        @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_MOVIMIENTO, "movimiento.grid.eliminar", item.Codigo.ToString(), "Anular", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        movimiento.grid.paginarParcial();
    });
</script>
