﻿@using SistemaComercial.App.Utility
@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoEditorViewModel

@{
    ViewBag.Title = "Movimientos";
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO).ToString();
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Recolección de productos</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li class="active">Devolución de productos</li>
        </ol>
    </div>
</div>

<form id="movimientoEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    @if (!Model.Movimiento.bCerrado && HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO))
                    {
                        <div class="col-lg-2 col-sm-4 col-xs-2">
                            <button type="button" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                                <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Guardar</span>
                                <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                            </button>
                        </div>

                        if (Model.Movimiento.iCodCabMov > 0)
                        {
                            <div class="col-lg-2 col-sm-4 col-xs-2">
                                <a href="javascript:void(0)" class="btn btn-block btn-outline btn-default btn-cerrar  waves-effect waves-light">
                                    <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Cerrar</span>
                                    <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-sm-4 col-xs-2 div-cerrar" style="display:none">
                                <a href="javascript:void(0)" class="btn btn-block btn-outline btn-default btn-cerrar  waves-effect waves-light">
                                    <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Cerrar</span>
                                    <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                                </a>
                            </div>
                        }

                    }
                    else
                    {
                        if (Model.Movimiento.bCerrado)
                        {
                            <div class="col-lg-2 col-sm-4 col-xs-2">
                                <span class="counter text-info">CERRADO</span>
                            </div>
                        }
                    }
                    <div class="col-lg-2 col-sm-4 col-xs-2">
                        <button type="button" class="btn btn-block btn-outline btn-default btn-adjunto waves-effect waves-light">
                            <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Agregar archivos</span>
                            <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-2">
                        <a href="@Url.Action("Ingresos","Movimiento")" class="btn btn-block btn-outline btn-default btn-volver  waves-effect waves-light">
                            <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Volver</span>
                            <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="white-box">
            <!-- Nav tabs -->
            <ul class="nav customtab nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Datos Devolución</span></a></li>
                <li role="presentation" class=""><a href="#settings1" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Productos</span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home1">
                    <div class="panel-body">

                        @Html.HiddenFor(model => model.Movimiento.iCodCabMov)
                        @Html.HiddenFor(model => model.Movimiento.tiCodTipMov)
                        <input type="hidden" value="DEV" id="Movimiento_vTipoMov" name="Movimiento.vTipoMov" />
                        <input type="hidden" value="0" id="hdnNuevoArt" />
                        <input type="hidden" value="@per" id="hdnPerm" />
                        <input type="hidden" value="@Constantes.Tablas.TipoDocIdentidad.RUC" id="hdnTipDocIde" />

                        <div class="form-group">

                            <div class="col-md-4">
                                <label class="col-md-12">FECHA MOVIMIENTO</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    @Html.TextBoxFor(model => model.MovimientoDto.FechaRecepcion, new { @class = "form-control pull-right  form-control-line" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12">HORA MOVIMIENTO</label>
                                <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                                    <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    @Html.TextBoxFor(model => model.MovimientoDto.HoraRecepcion, new { @class = "form-control pull-right  form-control-line" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="col-md-12">CORRELATIVO</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Movimiento.vCorrelativo, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-md-4">
                                <label class="col-md-12">GUIA</label>
                                <div class="col-sm-12">
                                    @Html.TextBoxFor(model => model.Movimiento.vNumeroDoc, new { @class = "form-control form-control-line", @placeholder = "Número", @align = "right", @maxlength = "20" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="col-md-12">ETA</label>
                                <div class="col-sm-12">
                                    <input type="text" name="MovimientoExt.sdFechaETA" id="MovimientoExt_sdFechaETA" value="@Model.MovimientoExt.sdFechaETA" data-mask="99/99/9999 99:99" class="form-control form-control-line" maxlength="16"/>
                                </div>
                            </div>

                            @*<div class="col-md-4">
            <label class="col-md-12">ETA</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                </div>
                @Html.TextBoxFor(model => model.MovimientoExt.sdFechaETA, new { @class = "form-control pull-right  form-control-line" })

                
            </div>
        </div>*@

                            <div class="col-md-4">
                                <label class="col-md-12">RMA</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.MovimientoExt.vRMA, new { @class = "form-control form-control-line", @placeholder = "RMA", @maxlength = "30" })
                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-md-6">
                                <label class="col-md-12">PARTNER</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.MovimientoExt.iCodPartner, Model.LstEmpresasPartner, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-12">CLIENTE</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.Movimiento.iCodPer, Model.LstEmpresas, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                                </div>
                            </div>

                        </div>

                        <div class="form-group ext">
                            <div class="col-md-12">
                                <label class="col-md-12">OBSERVACIÓN</label>
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Movimiento.vObservacion, new { @class = "form-control form-control-line", @placeholder = "Ingrese alguna observación", @maxlength = "150" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings1">
                    @{ Html.RenderPartial("_Editor.Grid", Model); }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

</form>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        movimiento.editor.load();
    });
</script>
