﻿@model SGC.Models.Movimiento.MovimientoGridViewModel

<div class="col-sm-12">
    <form id="movimientoGridForm" action="/" class="form-horizontal" autocomplete="off">
        <div class="panel panel-default">
            @{ Html.RenderPartial("Salidas._Index.Head", Model); }
        </div>
    </form>
</div>

<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Lista de Salidas
        </div>
        @{ Html.RenderPartial("_Index.Grid", Model); }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        movimiento.grid.load();
    });
</script>