﻿@using SistemaComercial.App.Utility
@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoEditorViewModel

@{
    ViewBag.Title = "Exportación";
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO).ToString();
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Exportación de productos</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li class="active">Exportación de productos</li>
        </ol>
    </div>
</div>
<form id="movimientoEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    @if (!Model.Movimiento.bCerrado && HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO))
                    {
                        <div class="col-lg-2 col-sm-4 col-xs-2">
                            <button type="button" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                                <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Guardar</span>
                                <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                            </button>
                        </div>

                        if (Model.Movimiento.iCodCabMov > 0)
                        {
                            <div class="col-lg-2 col-sm-4 col-xs-2">
                                <a href="javascript:void(0)" class="btn btn-block btn-outline btn-default btn-cerrar  waves-effect waves-light">
                                    <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Cerrar</span>
                                    <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-sm-4 col-xs-2 div-cerrar" style="display:none">
                                <a href="javascript:void(0)" class="btn btn-block btn-outline btn-default btn-cerrar  waves-effect waves-light">
                                    <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Cerrar</span>
                                    <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                                </a>
                            </div>
                        }

                    }
                    else
                    {
                        if (Model.Movimiento.bCerrado)
                        {
                            <div class="col-lg-2 col-sm-4 col-xs-2">
                                <span class="counter text-info">CERRADO</span>
                            </div>
                        }
                    }
                    <div class="col-lg-2 col-sm-4 col-xs-2">
                        <button type="button" class="btn btn-block btn-outline btn-default btn-imp waves-effect waves-light">
                            <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Imprimir Guía</span>
                            <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-2">
                        <button type="button" class="btn btn-block btn-outline btn-default btn-dj waves-effect waves-light">
                            <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Imprimir DJ</span>
                            <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-2">
                        <button type="button" class="btn btn-block btn-outline btn-default btn-adjunto waves-effect waves-light">
                            <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Agregar archivos</span>
                            <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                        </button>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-xs-2">
                        <a href="@Url.Action("Salidas","Movimiento")" class="btn btn-block btn-outline btn-default btn-volver  waves-effect waves-light">
                            <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Volver</span>
                            <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="white-box">
            <!-- Nav tabs -->
            <ul class="nav customtab nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Datos Importación</span></a></li>
                <li role="presentation" class=""><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Datos Factura</span></a></li>
                <li role="presentation" class=""><a href="#guia1" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Datos Guia</span></a></li>
                <li role="presentation" class=""><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Liquidación</span></a></li>
                <li role="presentation" class=""><a href="#settings1" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Productos</span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home1">

                    @Html.HiddenFor(model => model.Movimiento.iCodCabMov)
                    @Html.HiddenFor(model => model.Movimiento.tiCodTipMov)
                    <input type="hidden" value="EXP" id="Movimiento_vTipoMov" name="Movimiento.vTipoMov" />
                    @Html.Hidden("hdnURLImprimirGuia", Url.Action("_GuiaRemision", "Movimiento", new { id = "__id__" }))
                    @Html.Hidden("hdnURLDeclaracionJurada", Url.Action("_DeclaracionJurada", "Movimiento", new { id = "__id__" }))
                    <input type="hidden" value="@per" id="hdnPerm" />
                    <input type="hidden" value="0" id="hdnNuevoArt" />
                    <input type="hidden" value="@Constantes.Tablas.TipoDocIdentidad.RUC" id="hdnTipDocIde" />

                    <div class="form-group">

                        <div class="col-md-4">
                            <label class="col-md-12">FECHA MOVIMIENTO</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                @Html.TextBoxFor(model => model.MovimientoDto.FechaRecepcion, new { @class = "form-control pull-right  form-control-line" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-12">HORA MOVIMIENTO</label>
                            <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                @Html.TextBoxFor(model => model.MovimientoDto.HoraRecepcion, new { @class = "form-control pull-right  form-control-line" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">CORRELATIVO</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Movimiento.vCorrelativo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">


                        <div class="col-md-4">
                            <label class="col-md-12">PARTNER</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.MovimientoExt.iCodPartner, Model.LstEmpresasPartner, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">ENVIAR A:</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Movimiento.iCodPer, Model.LstEmpresas, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group ext">
                        <div class="col-md-4">
                            <label class="col-md-12">N. ALERTA</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MovimientoExt.vAlertaId, new { @class = "form-control form-control-line", @placeholder = "Id Alerta", @maxlength = "30" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">GUIA AEREA</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MovimientoExt.vGuiaAerea, new { @class = "form-control form-control-line", @placeholder = "Guía Area", @maxlength = "30" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">RMA</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MovimientoExt.vRMA, new { @class = "form-control form-control-line", @placeholder = "RMA", @maxlength = "30" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group ext">
                        <div class="col-md-4">
                            <label class="col-md-12">N° ORDEN</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MovimientoExt.vOrdExt, new { @class = "form-control form-control-line", @placeholder = "Número de Orden", @maxlength = "30" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">FACTURA COMERCIAL</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MovimientoExt.vFacCom, new { @class = "form-control form-control-line", @placeholder = "Factura comercial", @maxlength = "30" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">OPERADOR LOGÍSTICO</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.MovimientoExt.iCodPerOperador, Model.LstEmpresas, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group ext">
                        <div class="col-md-6">
                            <label class="col-md-12">OBSERVACIÓN</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Movimiento.vObservacion, new { @class = "form-control form-control-line", @placeholder = "Ingrese alguna observación", @maxlength = "150" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="col-md-12">VALOR COMERCIAL?</label>
                            <div class="col-md-12">
                                <input id="MovimientoExt_bConValorComercial" name="MovimientoExt.bConValorComercial" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.MovimientoExt.bConValorComercial)>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="col-md-12">AGENCIAMIENTO?</label>
                            <div class="col-md-12">
                                <input id="MovimientoExt_bTuvoAjuste" name="MovimientoExt.bTuvoAjuste" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.MovimientoExt.bTuvoAjuste)>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="col-md-12">CARGA?</label>
                            <div class="col-md-12">
                                <input id="MovimientoExt_bCarga" name="MovimientoExt.bCarga" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.MovimientoExt.bCarga)>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ext">
                        <div class="col-md-6 col-md-offset-3" style="text-align:center">
                            <label class="col-md-12">CANAL</label>
                            <i id="cn1" class="fa fa-circle m-r-5"></i><span id="spcn1">Ninguno</span>
                            @Html.HiddenFor(x => x.MovimientoExt.tiCodCan)
                            <div class="btn-group">
                                <a aria-expanded="false" data-toggle="dropdown" type="button"> <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="javascript:void(0);" onclick="movimiento.editor.canal(1,1)"><i class="fa fa-circle m-r-5 text-success"></i>Verde</a></li>
                                    <li><a href="javascript:void(0);" onclick="movimiento.editor.canal(1,2)"><i class="fa fa-circle m-r-5 text-warning"></i>Ambar</a></li>
                                    <li><a href="javascript:void(0);" onclick="movimiento.editor.canal(1,3)"><i class="fa fa-circle m-r-5 text-danger"></i>Rojo</a></li>
                                    <li><div class="divider"></div></li>
                                    <li><a href="javascript:void(0);" onclick="movimiento.editor.canal(1,0)"><i class="fa fa-circle m-r-5"></i>Ninguno</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile1">

                    @Html.HiddenFor(model => model.Factura.iCodFactura)
                    @Html.HiddenFor(model => model.Factura.iCodCabMov)

                    <div class="form-group">

                        <div class="col-md-4">
                            <label class="col-md-12">TIPO DOC</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Factura.iTipoDoc, Model.LstTipoDocFactura, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-md-12">SERIE</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Factura.vSerie, new { @class = "form-control", @maxlength = "4" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">FACTURA</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Factura.vNumero, new { @class = "form-control", @maxlength = "10" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-4">
                            <label class="col-md-12">FECHA</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                @Html.TextBoxFor(model => model.Factura.sdFecha, new { @class = "form-control pull-right  form-control-line" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">DIRECCIÓN</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Factura.vDireccion, new { @class = "form-control form-control-line", @maxlength = "150" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">MONEDA</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Factura.iMoneda, Model.LstMonedas, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                            </div>
                        </div>

                    </div>

                    @*<div class="form-group ext">
                            <div class="col-md-4">
                                <label class="col-md-12">SUB TOTAL</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Factura.dSubTotal, new { @class = "form-control form-control-line", @maxlength = "18" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="col-md-12">IMPUESTO</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Factura.dImpuesto, new { @class = "form-control form-control-line", @maxlength = "18" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="col-md-12">TOTAL</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Factura.dTotal, new { @class = "form-control form-control-line", @maxlength = "18" })
                                </div>
                            </div>
                        </div>*@

                    <div class="form-group ext">
                        <div class="col-md-12">
                            <label class="col-md-12">OBSERVACIÓN</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Factura.vObservacion, new { @class = "form-control form-control-line", @maxlength = "50" })
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="guia1">

                    @Html.HiddenFor(model => model.Guia.iGuiaId)
                    @Html.HiddenFor(model => model.Guia.iCodCabMov)

                    <div class="form-group">

                        <div class="col-md-4">
                            <label class="col-md-12">SERIE</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Guia.vSerie, new { @class = "form-control", @maxlength = "4" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">NÚMERO</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Guia.vNumero, new { @class = "form-control", @maxlength = "10" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-md-12">PUNTO SALIDA</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Guia.iCodOficina, Model.LstOficinas, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-4">
                            <label class="col-md-12">EMPRESA</label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.Guia.iCodPer, Model.LstEmpresas, "--Seleccione--", new { @class = "form-control form-control-line select2", @required = "required" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <label class="col-md-12">PUNTO LLEGADA</label>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Guia.vDireccion, new { @class = "form-control form-control-line", @maxlength = "150" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group ext">

                        <div class="col-md-12">
                            <label class="col-md-12">OBSERVACIÓN</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Guia.vObservacion, new { @class = "form-control form-control-line", @maxlength = "50" })
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="messages1">
                    @{ Html.RenderPartial("_Editor.LiquidacionGrid", Model); }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings1">
                    @{ Html.RenderPartial("_Editor.Grid", Model); }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

</form>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        movimiento.editor.load();
    });
</script>
