﻿@using SGC.Helper
@model SGC.Models.Movimiento.MovimientoGridViewModel

<div class="panel-heading">
    <div class="row">
        @if (HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_MOVIMIENTO))
    {
        <div class="col-lg-2 col-sm-4 col-xs-2">
            <button type="button" class="btn btn-block btn-outline btn-default btn-export waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nueva Exportación</span>
                <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
            </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-2">
            <button type="button" class="btn btn-block btn-outline btn-default btn-delive waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nuevo Delivery</span>
                <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
            </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-2">
            <button type="button" class="btn btn-block btn-outline btn-default btn-venta waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nueva Venta</span>
                <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
            </button>
        </div>
}
        <div class="col-lg-2 col-sm-4 col-xs-2">
            <button type="button" class="btn btn-block btn-outline btn-default btn-exportar waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i>Exportar Archivo</span>
                <span class="visible-xs visible-sm"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i></span>
            </button>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-2 pull-right">
            <div class="panel-action">
                <a href="#" data-perform="panel-collapse">
                    <i class="ti-plus"></i>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="panel-wrapper collapse" aria-expanded="false">
    <div class="panel-body">
        @Html.Hidden("hdnURLExportar", Url.Action("Exportar", "Movimiento", null))
        <div class="form-group">

            <div class="col-md-4">
                <label class="col-md-12">Correlativo</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Correlativo, new { @class = "form-control form-control-line", @maxlength = "15", @placeholder = "Buscar por correlativo..." })
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-4">
                <label class="col-md-12">N° Documento</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.NumeroDoc, new { @class = "form-control form-control-line", @maxlength = "20", @placeholder = "Buscar por documento..." })
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">Fecha Desde</label>
                <div class="col-md-12">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        @Html.TextBoxFor(model => model.Filtro.FechaDesde, new { @class = "form-control pull-right  form-control-line" })
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">Fecha Hasta</label>
                <div class="col-md-12">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        @Html.TextBoxFor(model => model.Filtro.FechaHasta, new { @class = "form-control pull-right  form-control-line" })
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-4">
                <label class="col-md-12">Id Alerta</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.AlertaId, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por id alerta..." })
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">Guía Aerea</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.GuiaArea, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por guía aerea..." })
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">RMA</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.RMA, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por RMA..." })
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-4">
                <label class="col-md-12">N° Orden</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.OrdExterior, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por n° de orden..." })
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">Fact. Comercial</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.FacturaComercial, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por fact. comercial..." })
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">Part #</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.CodigoOriginal, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por Part#..." })
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-8">
                <label class="col-md-12">Producto</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Articulo, new { @class = "form-control form-control-line", @maxlength = "50", @placeholder = "Buscar por descripción de producto..." })
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">Serie</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Serie, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por serie de producto..." })
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-8">
                <label class="col-md-12">Empresa</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Persona, new { @class = "form-control form-control-line", @maxlength = "100", @placeholder = "Buscar por empresa con la que se hizo el movimiento..." })
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-md-12">Usuario Registro</label>
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.Filtro.UsuarioCrea, Model.LstUsuarios, "--Seleccione--", new { @class = "form-control form-control-line" })
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-search  waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="fa fa-search m-r-5 fa-1.5x"></i>Buscar</span>
                    <span class="visible-xs visible-sm"><i class="fa fa-search m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>