﻿@model SGC.Models.Articulo.ArticuloEditorViewModel

<form id="articuloEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Articulo.iCodArt)

    <div class="form-group">
        <label class="col-sm-3 control-label">Descripción :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Articulo.vDescripcion, new { @class = "form-control form-control-line", @placeholder = "Descripción del producto", @required = "required", @maxlength = "100" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Part # :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Articulo.vCodigoOriginal, new { @class = "form-control form-control-line", @placeholder = "Part number del producto", @required = "required", @maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Kit :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Articulo.vCodigoAlterno, new { @class = "form-control form-control-line", @placeholder = "Número de kit del producto", @maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">U. Medida :</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.Articulo.siCodUMed, Model.LstUnidadMedida, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Marca :</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.Articulo.iCodMarca, Model.LstMarca, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        articulo.editor.load();
    });
</script>