﻿@using SGC.Helper
@model SGC.Models.Articulo.ArticuloGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_ARTICULO).ToString();
}

<div class="panel-wrapper collapse in" id="articulo-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="20%">DESCRIPCIÓN</th>
                    <th width="15%">PART #</th>
                    <th width="10%">KIT</th>
                    <th width="5%">U.M.</th>
                    <th width="20%">MARCA</th>
                    <th width="15%">USUARIO REGISTRO</th>
                    <th width="10%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaArticulos)
                {
                <tr role="row">
                    <td>
                        <a href="#" onclick="articulo.editor.init(@item.Codigo, '@per')">@item.Descripcion</a>
                    </td>
                    <td>@item.CodigoOriginal</td>
                    <td>@item.CodigoAlterno</td>
                    <td>@item.UnidadMedida</td>
                    <td>@item.Marca</td>
                    <td>@item.UsuarioCrea</td>
                    <td class="text-nowrap" align="center">
                        @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_ARTICULO, "articulo.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        articulo.grid.paginarParcial();
    });
</script>
