﻿@using SGC.Helper
@model SGC.Models.Articulo.ArticuloGridViewModel

<div class="panel-heading">
    <div class="row">
        @if (HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_ARTICULO))
        {
            <div class="col-lg-2 col-sm-4 col-xs-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nuevo</span>
                    <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        }
        <div class="col-lg-2 col-sm-4 col-xs-2">
            <button type="button" class="btn btn-block btn-outline btn-default btn-exportar waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i>Exportar</span>
                <span class="visible-xs visible-sm"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i></span>
            </button>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-2 pull-right">
            <div class="panel-action">
                <a href="#" data-perform="panel-collapse">
                    <i class="ti-plus"></i>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="panel-wrapper collapse" aria-expanded="false">
    <div class="panel-body">
        @Html.Hidden("hdnURLExportar", Url.Action("_GuiaRemision", "Articulo", null))
        <div class="form-group">

            <div class="col-md-12">
                <label class="col-md-12">Descripción</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Descripcion, new { @class = "form-control form-control-line", @maxlength = "100", @placeholder = "Buscar por nombre del producto..." })
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-6">
                <label class="col-md-12">Part #</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.CodigoOriginal, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por part number..." })
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-md-12">Kit</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.CodigoAlterno, new { @class = "form-control form-control-line", @maxlength = "30", @placeholder = "Buscar por kit..." })
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-md-12">
                <label class="col-md-12">Marca</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Marca, new { @class = "form-control form-control-line", @maxlength = "100", @placeholder = "Buscar por nombre de marca..." })
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-search  waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="fa fa-search m-r-5 fa-1.5x"></i>Buscar</span>
                    <span class="visible-xs visible-sm"><i class="fa fa-search m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>