﻿@using SGC.Helper

@{
    var datosSesion = SesionModel.DatosSesion;
}


<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Menú principal</span></h3>
        </div>
        <div class="user-profile">
            <div class="dropdown user-pro-body">
                <div>
                    <img src="@HelperFunciones.FotoUsuario()" alt="user-img" class="img-circle img-usu">
                    <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@HelperFunciones.NombreUsuario()</a>
                </div>
            </div>
        </div>
        <ul class="nav" id="side-menu">
            @if (datosSesion != null)
            {
                var usuarioActual = datosSesion.Usuario;
                var modelo = datosSesion.PermisosUsuario.Where(x => x.TipoOpcion == 1).ToList();
                if (modelo != null && modelo.Count() > 0)
                {
                    @MenuPrincipal.GetMenu(modelo, 1, modelo);
                }
            }
        </ul>
    </div>
</div>