﻿/*#region Wizard*/
/*
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
    */
/*#endregion Wizard*/

/*#region Carousel*/

.carousel {
    margin-bottom: 0;
    padding: 0 40px 20px 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 50px;
}

    .carousel-control.right {
        right: -12px;
    }
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}

.carousel-inner > .item {
    cursor: pointer;
}


/*#endregion Carousel*/

/*#region TreeView*/

.collapseJBLV {
    width: 15px;
    background: url('../images/expand.png') no-repeat top right;
    display: inline-block;
    cursor: pointer;
}

.expandJBLV {
    width: 15px;
    background: url('../images/contract.png') no-repeat top right;
    display: inline-block;
    cursor: pointer;
}

.treeviewJBLV ul {
    margin: 0px;
    padding-left: 10px;
    list-style: none;
}

.treeviewJBLV > li > a {
    font-weight: bold;
}

.treeviewJBLV li {
}

.treeviewJBLV li label {
    padding: 1px;
    font-family: tahoma, verdana, helvetica;
    font-size: 11px;
    display: inline-block;
    color: #333333;
    width: auto;
}


.ebbtree {
    border: solid 1px black;
    padding: 10px;
    background-color: #FAFAFA;
    width: auto;
    height: 440px;
    overflow: scroll;
    margin-bottom: 10px;
}

.scrollVertical {
    border: solid 1px black;
    padding: 10px;
    width: auto;
    height: 330px;
    overflow: scroll;
    margin-bottom: 10px;
}

.menu_elem {
    width: 15px;
    display: inline-block;
}

input[type=checkbox].treepss + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 19px;
    content: "\f096";
    letter-spacing: 10px;
}

input[type="checkbox"].treepss {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: none;
    border: 1px solid #c8c6c6;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 5px 0 0;
}
    
/*#endregion TreeView*/

/*#region General*/
.disabled-link {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.thumb{
     height: 150px;
     border: 1px solid #000;
     margin: 10px 5px 0 0;
}

.ancho100 {
    width: 100%;
}

.input-align-right {
    text-align: right;
}