﻿@using SGC.Helper
@model SGC.Models.Persona.PersonaEditorViewModel

<div class="panel panel-default">

    <div class="col-sm-12">
        <form id="personaContactoGridForm" action="/" class="form-horizontal" autocomplete="off">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">
                        @if (HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_EMPRESA))
                        {
                            <div class="col-lg-2 col-sm-4 col-xs-2">
                                <button type="button" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                                    <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nuevo</span>
                                    <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
                                </button>
                            </div>
                        }
                        <div class="col-lg-2 col-sm-4 col-xs-2">
                            <button type="button" class="btn btn-block btn-outline btn-default btn-exportar waves-effect waves-light">
                                <span class="visible-lg visible-md"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i>Exportar</span>
                                <span class="visible-xs visible-sm"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i></span>
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-xs-2">
                            <a href="@Url.Action("Index","Persona")" class="btn btn-block btn-outline btn-default btn-volver  waves-effect waves-light">
                                <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Volver</span>
                                <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    @{ Html.RenderPartial("_Editor.Contacto.Grid", Model); }
                </div>

            </div>
        </form>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        personacontacto.grid.load();
    });
</script>
