﻿@using SGC.Helper
@model SGC.Models.Persona.PersonaEditorViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_EMPRESA).ToString();
}

<div class="panel-wrapper collapse in" id="personaOficina-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblListaOficina">
            <thead>
                <tr class="row-head">
                    <th width="30%">DESCRIPCIÓN</th>
                    <th width="20%">DIRECCIÓN</th>
                    <th width="15%">USUARIO REGISTRO</th>
                    <th width="15%">USUARIO ACTUALIZA</th>
                    <th width="20%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaOficinas)
                {
                    <tr role="row">
                        <td>
                            <a href="#" onclick="personaoficina.editor.init(@item.Codigo, '@per')">@item.Descripcion</a>
                        </td>
                        <td>@item.Direccion</td>
                        <td>@item.UsuarioCrea</td>
                        <td>@item.UsuarioActualiza</td>
                        <td class="text-nowrap" align="center">
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_EMPRESA, "personaoficina.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        personaoficina.grid.paginarParcial();
    });
</script>