﻿@using SGC.Helper
@model SGC.Models.Persona.PersonaEditorViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_EMPRESA).ToString();
}

<div class="panel-wrapper collapse in" id="personaContacto-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblListaContacto">
            <thead>
                <tr class="row-head">
                    <th width="30%">NOMBRE</th>
                    <th width="20%">TELÉFONOS</th>
                    <th width="30%">COMENTARIO</th>
                    <th width="20%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaContactos)
                {
                    <tr role="row">
                        <td>
                            <a href="#" onclick="personacontacto.editor.init(@item.Codigo, '@per')">@item.Nombre</a>
                        </td>
                        <td>@item.Numero</td>
                        <td>@item.Comentario</td>
                        <td class="text-nowrap" align="center">
                            @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_EMPRESA, "personacontacto.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        personacontacto.grid.paginarParcial();
    });
</script>