﻿@using SGC.Helper
@model SGC.Models.Persona.PersonaContactoEditorViewModel

<form id="personaContactoEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Contacto.iCodPer)
    @Html.HiddenFor(model => model.Contacto.iCodPerCon)

    <div class="form-group">
        <label class="col-sm-3 control-label">Nombre :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Contacto.vNombre, new { @class = "form-control form-control-line", @placeholder = "Nombre del contacto", @required = "required", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Número :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Contacto.vNumero, new { @class = "form-control form-control-line", @placeholder = "Teléfono de contacto", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Correo :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Contacto.vCorreo, new { @class = "form-control form-control-line minu", @placeholder = "Correo del contacto", @maxlength = "50" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Comentarios :</label>
        <div class="col-sm-9">
            @Html.TextAreaFor(model => model.Contacto.vComentarios, new { @class = "form-control form-control-line", @placeholder = "...", @maxlength = "500" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        personacontacto.editor.load();
    });
</script>