﻿@using SGC.Helper
@model SGC.Models.Persona.PersonaOficinaEditorViewModel

<form id="personaOficinaEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">
    @Html.HiddenFor(model => model.Oficina.iCodPer)
    @Html.HiddenFor(model => model.Oficina.iCodPerOfi)

    <div class="form-group">
        <label class="col-sm-3 control-label">Descripción :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Oficina.vDescripcion, new { @class = "form-control form-control-line", @placeholder = "Descripción de la oficina", @required = "required", @maxlength = "40" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Dirección :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Oficina.vDireccion, new { @class = "form-control form-control-line", @placeholder = "Dirección de la oficina", @required = "required", @maxlength = "100" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Teléfono :</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Oficina.vNumero, new { @class = "form-control form-control-line", @placeholder = "Número telefónico de la oficina", @maxlength = "20" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">País :</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(model => model.Oficina.siCodPais, Model.LstPaises, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
        </div>
    </div>

    <br />
</form>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        personaoficina.editor.load();
    });
</script>