﻿@using SistemaComercial.App.Utility
@using SGC.Helper
@model SGC.Models.Persona.PersonaEditorViewModel

@{
    ViewBag.Title = "Empresas";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Mantenimiento Empresa</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li class="active">Empresas</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 white-box">

        <ul class="nav customtab nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> Datos</span></a></li>
            <li role="presentation" class=""><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Oficinas</span></a></li>
            <li role="presentation" class=""><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Contactos</span></a></li>
        </ul>

        <!--PANELES-->

        <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade active in" id="home1">

                <form id="personaEditorForm" enctype="multipart/form-data" method="POST" action="/" class="form-horizontal" autocomplete="off">

                    @Html.HiddenFor(model => model.Persona.iCodPer)
                    <input type="hidden" value="@Constantes.Tablas.TipoDocIdentidad.RUC" id="hdnTipDocIdeRuc" />
                    <input type="hidden" value="@Constantes.Tablas.TipoDocIdentidad.DNI" id="hdnTipDocIdeDni" />

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-2 col-sm-4 col-xs-2">
                                    <button class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                                        <span class="visible-lg visible-md"><i class="ti-save m-r-5 fa-1.5x"></i>Guardar</span>
                                        <span class="visible-xs visible-sm"><i class="ti-save m-r-5 fa-1.5x"></i></span>
                                    </button>
                                </div>
                                <div class="col-lg-2 col-sm-4 col-xs-2">
                                    <a href="@Url.Action("Search","Persona")" class="btn btn-block btn-outline btn-default btn-volver  waves-effect waves-light">
                                        <span class="visible-lg visible-md"><i class="icon-action-undo m-r-5 fa-1.5x"></i>Volver</span>
                                        <span class="visible-xs visible-sm"><i class="icon-action-undo m-r-5 fa-1.5x"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class="col-sm-6 control-label">Tipo de Documento :</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(model => model.Persona.tiCodTipDocIde, Model.LstTipDocIdentidad, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label class="col-sm-6 control-label">País :</label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(model => model.Persona.siCodPais, Model.LstPaises, "--Seleccione--", new { @class = "form-control form-control-line", @required = "required" })
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">N° Documento :</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Persona.vNroDocIde, new { @class = "form-control form-control-line", @placeholder = "RUC / DNI", @required = "required", @maxlength = "20" })
                                </div>
                            </div>

                            <div class="form-group div-razsoc">
                                <label class="col-sm-3 control-label">Razón Social :</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Persona.vRazonSocial, new { @class = "form-control form-control-line", @placeholder = "Razón Social", @maxlength = "50" })
                                </div>
                            </div>

                            <div class="form-group div-razsoc">
                                <label class="col-sm-3 control-label">Nombre Comercial :</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Persona.vNombreComercial, new { @class = "form-control form-control-line", @placeholder = "Dirección de domicilio fiscal", @required = "required", @maxlength = "100" })
                                </div>
                            </div>

                            <div class="form-group div-name">
                                <label class="col-sm-3 control-label">Nombre :</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.Persona.vNombres, new { @class = "form-control form-control-line", @placeholder = "Nombres", @maxlength = "20" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.Persona.vApPaterno, new { @class = "form-control form-control-line", @placeholder = "Ap. Paterno", @maxlength = "20" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.Persona.vApMaterno, new { @class = "form-control form-control-line", @placeholder = "Ap. Materno", @maxlength = "20" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Teléfonos :</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Persona.vNumero, new { @class = "form-control form-control-line", @placeholder = "Teléfonos de empresa", @maxlength = "30" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label lbl-pagweb">Página Web :</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(model => model.Persona.vPaginaWeb, new { @class = "form-control form-control-line minu", @placeholder = "Página web", @maxlength = "40" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label lbl-fecnac">Aniversario :</label>
                                <div class="input-group date col-sm-9">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    @Html.TextBoxFor(model => model.Persona.sdFecNac, new { @class = "form-control pull-right  form-control-line" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-md-offset-3">
                                    <div class="checkbox checkbox-info">
                                        <input id="Persona_bPartner" name="Persona.bPartner" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.Persona.bPartner)>
                                        <label for="Persona_bPartner"> Partners </label>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox checkbox-info">
                                        <input id="Persona_bCliente" name="Persona.bCliente" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.Persona.bCliente)>
                                        <label for="Persona_bCliente"> Clientes </label>
                                    </div>
                                    <div class="checkbox checkbox-info">
                                        <input id="Persona_bProveedor" name="Persona.bProveedor" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.Persona.bProveedor)>
                                        <label for="Persona_bProveedor"> Proveedores </label>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="checkbox checkbox-info">
                                        <input id="Persona_bExportador" name="Persona.bExportador" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.Persona.bExportador)>
                                        <label for="Persona_bExportador"> Exportadores </label>
                                    </div>
                                    <div class="checkbox checkbox-info">
                                        <input id="Persona_bDistribuidor" name="Persona.bDistribuidor" type="checkbox" value="true" @HelperFunciones.CheckedSi(Model.Persona.bDistribuidor)>
                                        <label for="Persona_bDistribuidor"> Distribuidores </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>

            <div role="tabpanel" class="tab-pane fade" id="profile1">

                @{ Html.RenderPartial("_Editor.Oficina", Model); }

            </div>

            <div role="tabpanel" class="tab-pane fade" id="messages1">

                @{ Html.RenderPartial("_Editor.Contacto", Model); }

            </div>

        </div>

    </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        persona.editor.load();
    });
</script>
