﻿@using SGC.Helper
@model SGC.Models.Persona.PersonaGridViewModel

<div class="panel-heading">
    <div class="row">
        @if (HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_EMPRESA))
        {
            <div class="col-lg-2 col-sm-4 col-xs-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Nuevo</span>
                    <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        }
        <div class="col-lg-2 col-sm-4 col-xs-2">
            <button type="button" class="btn btn-block btn-outline btn-default btn-exportar waves-effect waves-light">
                <span class="visible-lg visible-md"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i>Exportar</span>
                <span class="visible-xs visible-sm"><i class="fa fa-file-excel-o m-r-5 fa-1.5x"></i></span>
            </button>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-2 pull-right">
            <div class="panel-action">
                <a href="#" data-perform="panel-collapse">
                    <i class="ti-plus"></i>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="panel-wrapper collapse" aria-expanded="false">
    <div class="panel-body">
        @Html.Hidden("hdnURLExportar", Url.Action("Exportar", "Persona", null))
        <div class="form-group">

            <div class="col-md-6">
                <label class="col-md-12">Razón Social / Nombre</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.Persona, new { @class = "form-control form-control-line", @maxlength = "100", @placeholder = "Buscar por razon social de empresa..." })
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-md-12">N° Documento (DNI / RUC)</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Filtro.NroDocumento, new { @class = "form-control form-control-line", @maxlength = "15", @placeholder = "Buscar por número de documento..." })
                </div>
            </div>

        </div>

        <div class="form-group">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="checkbox checkbox-info">
                    <input id="Filtro_EsPartner" name="Filtro.EsPartner" class="chkb" type="checkbox" value="true" checked="checked">
                    <label for="Filtro_EsPartner"> Partners </label>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="checkbox checkbox-info">
                    <input id="Filtro_EsCliente" name="Filtro.EsCliente" class="chkb" type="checkbox" checked="checked">
                    <label for="Filtro_EsCliente"> Clientes </label>
                </div>
                <div class="checkbox checkbox-info">
                    <input id="Filtro_EsProveedor" name="Filtro.EsProveedor" class="chkb" type="checkbox" value="true" checked="checked">
                    <label for="Filtro_EsProveedor"> Proveedores </label>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="checkbox checkbox-info">
                    <input id="Filtro_EsExportador" name="Filtro.EsExportador" class="chkb" type="checkbox" value="true" checked="checked">
                    <label for="Filtro_EsExportador"> Exportadores </label>
                </div>
                <div class="checkbox checkbox-info">
                    <input id="Filtro_EsDistribuidor" name="Filtro.EsDistribuidor" class="chkb" type="checkbox" value="true" checked="checked">
                    <label for="Filtro_EsDistribuidor"> Distribuidores </label>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-outline btn-default btn-search  waves-effect waves-light">
                    <span class="visible-lg visible-md"><i class="fa fa-search m-r-5 fa-1.5x"></i>Buscar</span>
                    <span class="visible-xs visible-sm"><i class="fa fa-search m-r-5 fa-1.5x"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>