﻿@using SGC.Helper
@model SGC.Models.Persona.PersonaGridViewModel

@{
    var per = HelperFunciones.ValidaTienePermiso(HelperConstantes.Permisos.PUEDE_CREAREDITAR_EMPRESA).ToString();
}

<div class="panel-wrapper collapse in" id="persona-wrapper">
    <div class="panel-body table-responsive">
        <table class="table color-table inverse-table table-striped" id="tblLista">
            <thead>
                <tr class="row-head">
                    <th width="30%">RAZÓN SOCIAL</th>
                    <th width="20%">N° DOCUMENTO</th>
                    <th width="15%">USUARIO REGISTRO</th>
                    <th width="15%">USUARIO ACTUALIZA</th>
                    <th width="20%">ACCIONES</th>
                </tr>
            </thead>

            <tbody id="tbodylst">
                @foreach (var item in Model.ListaPersonas)
                {
                <tr role="row">
                    <td>
                        <a href="#" onclick="persona.editor.init(@item.Codigo, '@per')">@item.RazonSocial</a>
                    </td>
                    <td>@item.NroDocumento</td>
                    <td>@item.UsuarioActualiza</td>
                    <td>@item.UsuarioCrea</td>
                    <td class="text-nowrap" align="center">
                        @HelperHTML.CrearLinkSiTienePermiso(HelperConstantes.Permisos.PUEDE_ELIMINAR_EMPRESA, "persona.grid.eliminar", item.Codigo.ToString(), "Eliminar", "btn btn-info btn-outline btn-circle btn-sm m-r-5", "ti-trash")
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        persona.grid.paginarParcial();
    });
</script>
