﻿@model SGC.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.Login.cshtml";
}
<form id="loginForm" class="form-horizontal new-lg-form"  action="/">
    @Html.HiddenFor(model => model.ReturnURL)

    <div class="form-group  m-t-20">
        <div class="col-xs-12">
            <label>Usuario</label>
            @Html.TextBoxFor(model => model.Usuario, new { @required = "", @maxlength = "20", @class = "form-control", @placeholder = "Ingrese su usuario", @autofocus = "" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <label>Clave</label>
            @Html.PasswordFor(model => model.Clave, new { @required = "", @maxlength = "20", @class = "form-control", @placeholder = "Ingrese su contraseña", @autofocus = "" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="checkbox checkbox-info pull-left p-t-0">
                <input id="checkbox-signup" type="checkbox">
                <label for="checkbox-signup"> Recuérdame </label>
            </div>
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> ¿Olvidaste tu contraseña?</a>
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" id="btnLogOn" type="submit">Iniciar sesión</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            
        </div>
    </div>
    <div class="form-group m-b-0">
        @*<div class="col-sm-12 text-center">
            <p>Don't have an account? <a href="register.html" class="text-primary m-l-5"><b>Sign Up</b></a></p>
        </div>*@
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        login.editor.load();
    });
</script>
