﻿@model SGC.Models.Reporte.ReporteAlmacenValorizadoViewModel
@{
    ViewBag.Title = "Almacenes Valorizados";
}

<div class="row bg-title">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <h4 class="page-title">Reporte almacenes valorizados</h4>
    </div>
    <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12 pull-right">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
            <li class="active">Reporte almacenes valorizados</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <form id="reporteAlmacenesValorizadosGridForm" action="/" class="form-horizontal" autocomplete="off">

            <div class="col-md-4">
                <div class="panel panel-default" style="min-height:350px">
                    <div class="panel-heading">
                        Filtros de Reporte
                    </div>

                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-12">Marca</label>
                                <div class="col-md-12">
                                    @Html.DropDownListFor(model => model.Filtro.CodigoMarca, Model.LstMarcas, "--Seleccione--", new { @class = "form-control form-control-line" })
                                    @Html.HiddenFor(model => model.Marca)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Producto</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.Articulo, new { @class = "form-control form-control-line", @required = "required", @maxlength = "100" })
                                    @Html.HiddenFor(model => model.Filtro.CodigoArticulo)
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default" style="min-height:350px">
                    <div class="panel-heading">
                        Tipo de Reporte
                    </div>

                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="radio radio-info">
                                    <input type="radio" checked="checked" name="treporte" id="radio1" value="@Url.Action("_AlmacenValorizadoRes", "Reporte", null)">
                                    <label for="radio1"> Resumido </label>
                                </div>
                                <div class="radio radio-info">
                                    <input type="radio" name="treporte" id="radio2" value="@Url.Action("_AlmacenValorizadoDet", "Reporte", null)">
                                    <label for="radio2"> Detallado </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <button type="button" onclick="reportealmacenesvalorizado.grid.visualizar()" class="btn btn-block btn-outline btn-default btn-agregar waves-effect waves-light">
                                        <span class="visible-lg visible-md"><i class="icon-plus m-r-5 fa-1.5x"></i>Visualizar</span>
                                        <span class="visible-xs visible-sm"><i class="icon-plus m-r-5 fa-1.5x"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        reportealmacenesvalorizado.grid.load();
    });
</script>